.group {
  display: flex;
  flex-wrap: wrap;
}

.group > * {
  flex: 1;
}

.spacingmedium > * {
  padding: var(--spacer-m) 0;
}

.spacinglarge > * {
  padding: var(--spacer-l) 0;
}

.spacingextralarge > * {
  padding: var(--spacer-xl) 0;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}
