.group {
  display: flex;
  flex-wrap: wrap;
}

.group > * {
  flex: 1;
}

.spacingsmall > * {
  margin: var(--spacer-s);
}

.spacingmedium > * {
  margin: var(--spacer-m);
}

.spacinglarge > * {
  margin: var(--spacer-l);
}

.spacingextralarge > * {
  margin: var(--spacer-xl);
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}
