.landing {
  position: relative;
  background: url("../assets//photos/landing-engagement.jpeg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px #0d2d5e19;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  height: 100vh;
}

.landingText h1 {
  color: var(--hex-yellow);
  font-size: calc(var(--font-size-h1) * 2);
}

.landing h2 {
  color: var(--hex-yellow);
  position: absolute;
  bottom: var(--spacer-l);
  right: var(--spacer-xl);
}

.welcome p {
  margin-bottom: var(--spacer-m);
}
.home p {
  margin-bottom: var(--spacer-m);
}
.details p {
  margin-bottom: 0;
}

.gettinghere img {
  margin: auto;
}

@media only screen and (max-width: 900px) {
  * {
    text-align: center;
  }

  .landingText h1 {
    font-size: calc(var(--font-size-h1));
    text-align: left;
  }

  img {
    margin: auto;
  }
}
