.swiper {
  width: 100%;
  height: 100%;
}

:global(.swiper-slide) > div {
  margin: 0 50px;
}

/* :global(.swiper-button-prev) {
  color: transparent;
}

:global(.swiper-button-next) {
  color: transparent;
} */

:global(.swiper-pagination) {
  position: relative;
}
