@import "./reset.css";
@import "./fonts.css";
@import "./variables.css";

html {
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  padding: 0;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  height: 100%;
  min-height: 100%;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  font-weight: var(--font-weight-emphasis);
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-weight: var(--font-weight-emphasis);
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3 {
  font-weight: var(--font-weight-emphasis);
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
}

a {
  color: var(--color-link);
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: var(--color-link-hover);
  transition: color 0.3s;
  text-decoration: none;
}
