.section {
  padding-top: var(--spacer-m);
  padding-bottom: var(--spacer-m);
  padding-left: var(--spacer-xxl);
  padding-right: var(--spacer-xxl);
}

.content {
  margin: var(--spacer-m);

}

.altBG {
  background-color: var(--hex-blue);
}
