.s {
  height: 50px;
}

.m {
  height: 100px;
}

.l {
  height: 200px;
}

.xl {
  height: 300px;
}

.container img {
  height: 100%;
  width: auto;
  object-fit: contain;
  border-radius: var(--border-radius-l);
}
